* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 2em;
}

p {
	font-size: 1.25em;
}

.container {
	max-width: 1400px;
	margin: auto;
}

.color-acento {
	color: #094293
}

header {
	background-color: rgba(0,0,0, 0.801);
}

header .logo {
	margin: 0;
	padding: 25px 30px;
	font-weight: bold;
	color: #f1f1f1;
	font-size: 1.6em;
}

header .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header nav {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 25px;
}

header a {
	padding: 5px 12px;
	text-decoration: none;
	font-weight: bold;
	color: rgb(253, 253, 253);
}

header a:hover {
	color: aqua;
}

#hero {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	color: white;
	background-image: linear-gradient(0deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)), url("media/agencia_de_autos_s.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#hero h1 {
	color: white;
}


#Mision .container {
	text-align: center;
	padding: 100px 12px;

}

#Vision {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	color: white;
	background-image: linear-gradient(0deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)), url("media/auto-plaza.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#Vision h1 {
	color: white;
}


#Objetivosyvalores .container {
	text-align: center;
	padding: 100px 12px;

}

#Objetivosyvalores {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 90vh;
	background-image: linear-gradient(0deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)), url("media/carretera.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#Objetivosyvalores h4 {
	color: white;
}

#Objetivosyvalores p {
	color: white;
}


#Objetivosyvalores .container {
	text-align: center;
	padding: 200px 12px;

}

footer {
	background-color: rgb(7, 7, 7);
}

footer p {
	margin: 0;
	padding: 9px;
	color: rgb(177, 149, 149);
}

footer .container {
	height: 150;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}



@media (min-width: 720px) {
	header {
		position: fixed;
		width: 100%;
	}

	header .container {
		flex-direction: row;
		justify-content: space-between;
	}

	header nav {
		flex-direction: row;
		padding-bottom: 0;
		padding-right: 20px;
	}
}

#Mision .container {
	display: flex;
	justify-content: space-evenly;
}

#Mision .texto {
	width: 50%;
	max-width: 600px;
	text-align: initial;
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#Mision h2 {
	margin-top: 0px;

}

#Mision .img-container {
	background-image: url("media/agencia-de-autos.jpg");
	background-size: cover;
	background-position: center center;
	height: 500px;
	width: 400px;
}

#Mision .container {
	display: flex;
	justify-content: space-evenly;
}

-- #Vision .container {
	display: flex;
	justify-content: center;
}

#Vision .texto {
	width: 50%;
	text-align: initial;
	padding: 0px 30px;
	justify-content: center;
}


#Objetivosyvalores .conteiner {
	align-content: right;
	display: flex;
	justify-content: left;
}

#Objetivosyvalores .texto {
	width: 50%;
	max-width: 600px;
	text-align: initial;
	padding: 0px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#nombres {
	display: flex;
	padding-top: 50px;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 25px;
	color: #000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#nom  li a {
	color: #000;
	text-decoration: none;
}